In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
url = "https://www.ebay.com/sch/i.html?_nkw=second+hand+clothing"

In [4]:
response = requests.get(url)

In [5]:
soup = BeautifulSoup(response.text, "html.parser")

In [6]:
listings = soup.find_all("li", class_="s-item")

In [7]:
for listing in listings:
    title = listing.find("h3", class_="s-item__title").text.strip()
    price_element = listing.find("span", class_="s-item__price")
    price = price_element.text.strip() if price_element else "N/A"
    condition_element = listing.find("span", class_="SECONDARY_INFO")
    condition = condition_element.text.strip() if condition_element else "N/A"

AttributeError: 'NoneType' object has no attribute 'text'

In [9]:
url = "https://www.ebay.com/sch/i.html?_nkw=second+hand+clothing"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
listings = soup.find_all("li", class_="s-item")

for listing in listings:
    title_element = listing.find("h3", class_="s-item__title")
    title = title_element.text.strip() if title_element else "N/A"
    
    price_element = listing.find("span", class_="s-item__price")
    price = price_element.text.strip() if price_element else "N/A"
    
    condition_element = listing.find("span", class_="SECONDARY_INFO")
    condition = condition_element.text.strip() if condition_element else "N/A"

In [11]:
import csv
url = "https://www.ebay.com/sch/i.html?_nkw=second+hand+clothing"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
listings = soup.find_all("li", class_="s-item")

# Open a CSV file in write mode
with open("second_hand_clothing.csv", "w", newline="", encoding="utf-8") as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["Title", "Price", "Condition"])  # Write the header row
    
    # Iterate over each listing and extract relevant information
    for listing in listings:
        title_element = listing.find("h3", class_="s-item__title")
        title = title_element.text.strip() if title_element else "N/A"
        
        price_element = listing.find("span", class_="s-item__price")
        price = price_element.text.strip() if price_element else "N/A"
        
        condition_element = listing.find("span", class_="SECONDARY_INFO")
        condition = condition_element.text.strip() if condition_element else "N/A"
        
        # Write the row to the CSV file
        writer.writerow([title, price, condition])

In [20]:
pd.read_csv('second_hand_clothing.csv')

    Title      Price    Condition
0     NaN     $20.00    Brand New
1     NaN    $681.82    Pre-Owned
2     NaN  $2,500.00          NaN
3     NaN    $249.68    Pre-Owned
4     NaN    $563.96    Pre-Owned
..    ...        ...          ...
71    NaN     $19.99    Pre-Owned
72    NaN    $340.55    Pre-Owned
73    NaN    $558.90    Pre-Owned
74    NaN     $18.45  New (Other)
75    NaN    $134.68    Pre-Owned

[76 rows x 3 columns]